<%= content_for :body_class, "inner_body white_back pad_15" %>
<main class="margin_t_15">
    <section class="inner_content">
        <div class="container">
            <div class="row contactpopup_info margin_t_15 margin_b_15">
                <div class="col-sm-12 box pad_0 margin_0">
				<div class="row margin_b_25">
					<div class="col-sm-12 col-md-6 col-md-offset-3">
						<div>
							<div class="icon_circle_back_lg red_back">
								<i class="fa fa-times"></i>
							</div>
						</div>
						
						<!-- Red Flag block -->
						<div><h1 class="space_top" style="font-size:28px">We're sorry ...</h1></div>
						
    					<div class="text-left">
    						<% if session[:tmp_age] %>
    						    <div>
                                    <p style="font-size: 16px">
        							    We are sorry <span customer-name><%= current_user.name.titleize %></span>, but we cannot treat patients over the age 65 or under 2. Since you have told us that you are <b><%= @age %> years old</b>, we recommend that you see a doctor in person.
            						</p><br/>
            					</div>
    						<% else %>
                                <% if ['Acne', 'Hairfall or Hair Thinning', 'Dandruff', 'Stretch Marks', 'General Skin Care'].include? current_consultation.category %>
            					    <div>
            					        <p style="font-size: 16px">
        							    We are sorry <span customer-name><%= current_user.name.titleize %></span>, based on your response below we are unable to treat you. We recommend that you see a doctor in person.
                					    </p><br/>
                					</div>
                					
                                    <div style="text-align: left; background-color: #F8F8F8">
                                        <blockquote>
                                            <p class="space_top" style="font-size: 16px"><b>Q. Do you have a personal or family history of skin cancer?*</b>
                                            </p>
                                            <blockquote><p style="font-size: 16px"><q><%= session[:tmp_red_flag] %></q></p></blockquote>
                                        </blockquote>
                                    </div>
                                <% elsif ['Pigmentation and Dark Circles', 'Eczema, Psoriasis and Rash', 'Skin Growth (Moles, Warts)'].include? current_consultation.category %>
                                    <div>
            					        <p style="font-size: 16px">
        							    We are sorry <span customer-name><%= current_user.name.titleize %></span>, based on your response below we are unable to treat you. We recommend that you see a doctor in person.
                					    </p><br/>
                					</div>
                					
                                    <div style="text-align: left; background-color: #F8F8F8">
                                        <blockquote>
                                            <p class="space_top" style="font-size: 16px"><b>Q. Let us know if you are experiencing any of the following*</b>
                                            </p>
                                            <blockquote><p style="font-size: 16px"><q><%= session[:tmp_red_flag] %></q></p></blockquote>
                                        </blockquote>
                                    </div>
                                
                                <% else %>
                                    <div><p style="font-size: 16px">
            							We are sorry <span customer-name><%= current_user.name.titleize %></span>, but based on the information you have provided, we are unable to proceed with your consultation. We recommend that you see a doctor in person as soon as possible.
            						</p></div>
                                <% end %>
                            <% end %>
                        
                        <div>
                            <% unless session[:tmp_red_flag_type] %>
                                <p style="font-size: 16px">
                                    If you've entered this in error, please <%= link_to "click here", ('/consult/consultation_form/' + current_consultation.category) %> to restart your consultation.
                                </p><br/>
                            <% end %>
                        </div>
						
						<div class="space_top">
							<p style="font-size: 16px">You can contact us for any questions or help at:</p>
						</div>
						<div class="font_h5 hidden-xs">
                            <a href="mailto:consult@remedicohealth.com" class="contact-us">
                                <span class="font_weight_med color_blue" style="font-size: 16px">
                                    <i class="inline fa fa-envelope-o color_blue"></i>
                                    consult@remedicohealth.com
                                </span>
                            </a>
                            <a href="tel:+918433484696" class="contact-us">
                                <span class="font_weight_med color_blue space_left" style="font-size: 16px">
                                    <i class="inline fa fa-whatsapp color_blue"></i>
                                    <nobr>+91 8433 848 969</nobr>
                                </span>
                            </a>
                        </div>
                        <div class="font_h5 visible-xs">
                            <br>
                            <a href="mailto:consult@remedicohealth.com" class="contact-us">
                                <span class="font_weight_med color_blue" style="font-size: 16px;">
                                    <i class="inline fa fa-envelope-o color_blue"></i>
                                    consult@remedicohealth.com
                                </span>
                            </a>
                            <a href="tel:+918433484696" class="contact-us">
                                <div class="font_weight_med color_blue" style="font-size: 16px; margin-top: 5px">
                                <i class="inline fa fa-whatsapp color_blue"></i>
                                <nobr>+91 8433 848 969</nobr>
                                </div>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script>
  $(function() {
    mixpanel.track("Page Loaded", {
      "Page Name": "Payments Red Flag Page",
      "Condition Name": 'n/a',
    });
    window._fbq.push(['track', 'Payments Red Flag Page Load',{'Status': 'flag', 'Page URL':'payment/flag'}]);

  });
</script>

<!--Start of Tawk.to Script-->
<!--div id='tawk_59dc7c6cc28eca75e4625231'></div>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59dc7c6cc28eca75e4625231/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script-->
<!--End of Tawk.to Script-->
