<%= content_for :body_class, "inner_body white_back" %>

<% if session[:promo_code] and session[:promo_code].starts_with? "SODELHI" %>

<% session[:promo_code] = "" %>
<main class="margin_t_15">
    <section class="inner_content">
        <div class="container">
            <div class="row contactpopup_info margin_t_15">
                <div class="col-sm-12 box pad_0 margin_0">
        <div class="row space_bottom">
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div>
              <div class="icon_circle_back_lg green_back">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div><h1 class="space_top" style="font-size: 28px">All done!</h1></div>
            <div style="margin-top: 20px"><p style="font-size: 16px; line-height: 1.2; margin-bottom: 20px">
              Thanks <span customer-name><%= current_user.name.titleize %></span>, we've received all your details. We will get back to you within <strong>24 hours</strong> with your treatment plan.
            </p>
            <div class="space_top">
              <p style="font-size: 16px; line-height: 1.2">If you have any questions in the meantime, please contact us at:</p>
            </div>
            <div class="text-center font_h5 hidden-xs">
              <a href="mailto:consult@remedicohealth.com" class="contact-us">
              <span class="font_weight_med color_blue" style="font-size: 16px;">
                  <i class="inline fa fa-envelope-o color_blue"></i>
                  consult@remedicohealth.com
              </span>
              </a>
              <a href="tel:+918433484696" class="contact-us">
              <span class="font_weight_med color_blue space_left" style="font-size: 16px">
                  <i class="inline fa fa-whatsapp color_blue"></i>
                  <nobr>+91 8433 848 969</nobr>
              </span>
              </a>
          </div>
          <div class="text-center font_h5 visible-xs">
          <br>
            <a href="mailto:consult@remedicohealth.com" class="contact-us">
              <span class="font_weight_med color_blue" style="font-size: 16px;">
                  <i class="inline fa fa-envelope-o color_blue"></i>
                  consult@remedicohealth.com
              </span>
            </a>
            <a href="tel:+918433484696" class="contact-us">
              <div class="font_weight_med color_blue" style="font-size: 16px; margin-top: 5px">
                  <i class="inline fa fa-whatsapp color_blue"></i>
                  +91 8433 848 969
              </div>
              </a>
          </div>
          </div>
          </div>
          <div class="row space_bottom">
            <div class="col-sm-12 col-md-4 col-md-offset-4 space_top">
              <div class="list_btn_dark space_bottom" id="shareButton" style="background-color: #17a6b0; border: 1px solid #17a6b0">
                <i class="inline fa fa-commenting"></i>&nbsp;
                TELL A FRIEND ABOUT US
              </div>
              <div id="shareButtonLabelCount" class="space_bottom" style="display:none; background-color: #17a6b0">
              </div>
              <a class="list_btn_dark" href="https://www.facebook.com/remedico" style="background-color: #17a6b0; border: 1px solid #17a6b0"><i class="inline fa fa-facebook"></i>&nbsp;&nbsp;VISIT OUR FACEBOOK PAGE</a>
            </div>
          </div>
                </div>
            </div>
        </div>
    </section>
</main>


<% else %>


<main id="form-step-4" style="width: 100%; overflow-y: hidden; overflow-x: hidden">
  <section class="inner_content pad_15">
    <div class="container">
      <div class="row contactpopup_info">
        <div class="col-sm-12 box pad_0 margin_0">
          <div class="row space_bottom">
            <div class="col-sm-12 col-md-6 col-md-offset-3">

              <div><h1 style="font-size: 28px;">Almost done, <span customer-name><%= current_user.name.titleize %></span>!</h1></div>
              <div>
                <p class="p_16 margin_t_25">
                 <!-- The final step is payment of the consultation fee of Rs <%= @amount %>. 
                  You will then receive your treatment plan within 24 hours. -->
                  The final step is the payment.
                </p>
              </div>


              <div class="row desktop margin_b_25">
                <div class="col-md-12 margin_t_25">
                  <img src="<%= asset_path("progress_bar_web.png") %>" />
                </div>
              </div>

              <div class="row mobile margin_b_25">
                <div class="col-md-12 margin_t_10">
                  <img src="<%= asset_path("progress_bar_mobile.png") %>" />
                </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="left-align collapsible-section">
                <h5 class="sub-title">Who will provide my treatment plan?<span class="more-less fa fa-plus"></span></h5>
                <!-- <h5 class="sub-title space_top">Who will provide my treatment plan?</h5> -->
                <div class="hidden-content-wrapper margin_b_25">
                  <p class="p_16 margin_b_25 space_top_sm">
                    One of our expert dermatologists below will prepare your treatment plan.
                  </p>
                  <div class="slider mobile" id="slider" style="padding-left: -15px;">
                    <div class="holder">
                      <div class="slide">
                        <img src="<%= asset_path("abhishek.jpg") %>" alt="Dr. Abhishek Omchery">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Abhishek Omchery</div>
                          <div class="doc-qualification">MD (Dermatology & VD)</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("ankita.jpg") %>" alt="Dr. Ankita Sawant">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Ankita Sawant</div>
                          <div class="doc-qualification">MBBS, DDV</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("sonam.jpg") %>" alt="Dr. Sonam Vimadalal">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Sonam Vimadalal</div>
                          <div class="doc-qualification">MBBS, DDVL</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("gautam.jpg") %>" alt="Dr. Gautam Dethe">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Gautam Dethe</div>
                          <div class="doc-qualification">MBBS, DDV, DNB</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("gaurangi.jpg") %>" alt="Dr. Gaurangi Shrawat">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Gaurangi Shrawat</div>
                          <div class="doc-qualification">MD (Dermatology & VD)</div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="carousel-wrapper space_bottom desktop">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Wrapper for carousel items -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="<%= asset_path("abhishek.jpg") %>" alt="Dr. Abhishek Omchery">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Abhishek Omchery</div>
                            <div class="doc-qualification">MD (Dermatology & VD)</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("ankita.jpg") %>" alt="Dr. Ankita Sawant">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Ankita Sawant</div>
                            <div class="doc-qualification">MBBS, DDV</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("sonam.jpg") %>" alt="Dr. Sonam Vimadalal">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Sonam Vimadalal</div>
                            <div class="doc-qualification">MBBS, DDVL</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("gautam.jpg") %>" alt="Dr. Gautam Dethe">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Gautam Dethe</div>
                            <div class="doc-qualification">MBBS, DDV, DNB</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("gaurangi.jpg") %>" alt="Dr. Gaurangi Shrawat">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Gaurangi Shrawat</div>
                            <div class="doc-qualification">MD (Dermatology & VD)</div>
                          </div>
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left"></span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right"></span>
                      </a>

                    </div>
                  </div>
                </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="row left-align collapsible-section">
                  <div class="col-sm-12">
                      <div>
                        <h5 class="sub-title">What can I expect?<span class="more-less fa fa-plus"></span></h5>
                        <div class="hidden-content-wrapper pad">

                          <% case session[:condition]

                            when "Acne" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to help promote skin health and control acne</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                          <% when "Hairfall", "Hairfall or Hair Thinning" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including lotions, serums, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to improve your hair growth, texture, and strength</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Shampoos and / or conditioners, and instructions on when and how to wash your hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy hair</p>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving hair growth, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% when "Pigmentation and Dark Circles", "Pigmentation & Dark Circles" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to help promote skin health and improve appearance</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                          <% when "Dandruff" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including lotions, serums, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Shampoos and / or conditioners, and instructions on when and how to wash your hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                          <% when "Eczema, Psoriasis and Rash", "Eczema, Psoriasis & Rash" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                         
                          <% when "Stretch Marks" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>
                            </div>
     
                          <% when "Skin Growth (Moles, Warts)" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set removal_options" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Removal options</h4>
                                    <p>Options and recommendations for how to remove the growth, if required</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% end %>

                        </div>
                      </div>
                  </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="row left-align collapsible-section">
                  <div class="col-sm-12">

                      <div>
                        <h5 class="sub-title">How can I pay?<span class="more-less fa fa-plus"></span></h5>
                        <div class="hidden-content-wrapper">
                          <!-- <p class="p_16">
                            You can pay with Credit Card, Debit Card, Net Banking or Paytm.
                          </p> -->
                          <div class="row text-center margin_b_25">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("card.png") %>" class="img-responsive" alt="Paytm" style="display: inline-block; max-height: 35px;"></div>
                              <!-- <div class="row payment-option-icon"><span class="fa fa-credit-card"></span></div> -->
                              <div class="row payment-option-text">Credit card/ Debit card</div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("netbanking.png") %>" class="img-responsive" alt="Paytm" style="display: inline-block; max-height: 35px;"></div>
                              <!-- <div class="row payment-option-icon"><span class="fa fa-bank"></span></div> -->
                              <div class="row payment-option-text">Net banking</div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("paytm.png") %>" class="img-responsive" alt="Paytm" style="display: inline-block; max-height: 35px;"></div>
                              <div class="row payment-option-text">Paytm wallet</div>
                            </div>
                            
                          </div>

                        </div>
                      </div>
                  </div>
              </div>

              <hr class="pad_0  margin_0" />
              
              <div>
                <p class="" style="padding-top: 20px;">
                  <b>
                    <!-- <h5 class="sub-title">Total payment: Rs. <%= @amount %></h5> -->
<!--                     <span class="payment-total">Total payment: </span>
                    <span class="payment-amount">Rs. <%= @amount %></span> -->
                  </b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">

      <div class="col-sm-12 text-center space_bottom">
        <!-- <i class="fa fa-shield" style="display: inline-block; vertical-align: middle;" aria-hidden="true"></i>
        <span style="margin-left: 4px; margin-right: 4px;">Secure payment powered by</span>
        <img src="<%= asset_path("paytm.png") %>" class="img-responsive" alt="Paytm" style="display: inline-block; max-height: 25px; margin-top: -10px;"> -->
        <h5 class="sub-title space_bottom">Total payment: Rs. <%= @amount %></h5>
      </div>

      <div class="col-sm-12 sticky-footer">
        <%= form_tag '/consult/payment', method: :post do %>
        <div class="text-center">
            <%= button_tag(name: "type", class: "list_btn_dark hover sticky-footer", :id=> "payBtn") do %>
               PAY FOR YOUR TREATMENT PLAN
            <% end %>
        </div>
        <% end %>
      </div>


    </div>
  </section>

  <section>
    <div class="col-sm-12 space_top space_bottom text-center no-scroll" style="" id="fixed-footer">
      <h5 class="sub-title">Still have questions?</h5>
        <p class="p_16">
          Feel free to contact us at <span><nobr><a href="tel:+918433484696"> &nbsp; <span class="fa fa-whatsapp icon-blue"></span>&nbsp;+91 8433 848 969</a></nobr></span>
        </p>
    </div> 
  </section>
  
</main>

<% end %>

<script type="text/javascript">

$(function() {

  mixpanel.track("Page Loaded", {
    "Page Name": "Payments Index Page",
    "Condition Name": 'n/a',
  });
  window._fbq.push(['track', 'Payments Page Load',{'Page URL':'payment/index'}]);

  $("button.list_btn_dark").on('click', function () {
      ga('send', 'event', { eventCategory: 'consultation', eventAction: 'clickPayButton'});
      mixpanel.track("Button Clicked", {
        "Button Name": "Payment Button",
        "Condition Name": "n/a",
        "Page URL": "payment/index",
      });
      window._fbq.push(['track', 'Payment Button Clicked',{'Page URL':'payment/index'}]);
  });

  $(".collapsible-section h5").click(function(e) {

      if ($(this).next().is(":hidden")) {
        $(this).next().slideDown();
        $(e.target).parent().andSelf().find(".more-less").removeClass('fa-plus');
        $(e.target).parent().andSelf().find(".more-less").addClass('fa-minus');
      } else {
        $(this).next().slideUp();
        $(e.target).parent().andSelf().find(".more-less").removeClass('fa-minus');
        $(e.target).parent().andSelf().find(".more-less").addClass('fa-plus');
      }
      
    });

});

</script>
