<%= content_for :body_class, "inner_body white_back" %>
<%= content_for :turn_turbolinks, "data-turbolinks=false" %>
<main id="form-step-4" style="width: 100%; overflow-y: hidden; overflow-x: hidden">
  <section class="inner_content pad_15">
    <div class="container">
      <div class="row contactpopup_info">
        <div class="col-sm-12 box pad_0 margin_0">
          <div class="row space_bottom">
            <div class="col-sm-12 col-md-6 col-md-offset-3">

              <div><h1 style="font-size: 28px;">Almost done, <span customer-name><%= current_user.name %></span>!</h1></div>
              <div>
                <p class="p_16 margin_t_25">
                 <!-- The final step is payment of the consultation fee of Rs <%= @amount %>. 
                  You will then receive your treatment plan within 24 hours. -->
                  The final step is the payment.
                </p>
              </div>

              <div class="row desktop margin_b_25">
                <div class="col-md-12 margin_t_25">
                  <img src="<%= asset_path("progress_bar_web.png") %>" />
                </div>
              </div>

              <div class="row mobile margin_b_25">
                <div class="col-md-12 margin_t_10">
                  <img src="<%= asset_path("progress_bar_mobile.png") %>" />
                </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="left-align collapsible-section">
                <h5 class="sub-title">Who will provide my treatment plan?<span class="more-less fa fa-plus"></span></h5>
                <!-- <h5 class="sub-title space_top">Who will provide my treatment plan?</h5> -->
                <div class="hidden-content-wrapper margin_b_25">
                  <p class="p_16 margin_b_25 space_top_sm">
                    One of our expert dermatologists below will prepare your treatment plan.
                  </p>
                  <div class="slider mobile" id="slider" style="padding-left: -15px;">
                    <div class="holder">
                      <div class="slide">
                        <img src="<%= asset_path("abhishek.jpg") %>" alt="Dr. Abhishek Omchery">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Abhishek Omchery</div>
                          <div class="doc-qualification">MD (Dermatology & VD)</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("ankita.jpg") %>" alt="Dr. Ankita Sawant">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Ankita Sawant</div>
                          <div class="doc-qualification">MBBS, DDV</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("sonam.jpg") %>" alt="Dr. Sonam Vimadalal">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Sonam Vimadalal</div>
                          <div class="doc-qualification">MBBS, DDVL</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("gautam.jpg") %>" alt="Dr. Gautam Dethe">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Gautam Dethe</div>
                          <div class="doc-qualification">MBBS, DDV, DNB</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("gaurangi.jpg") %>" alt="Dr. Gaurangi Shrawat">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr. Gaurangi Shrawat</div>
                          <div class="doc-qualification">MD (Dermatology & VD)</div>
                        </div>
                      </div>
                      <div class="slide">
                        <img src="<%= asset_path("pradnya.jpg") %>" alt="Dr Pradnya Shastri">
                        <div class="carousel-img-details">
                          <div class="doc-name">Dr Pradnya Shastri</div>
                          <div class="doc-qualification">MBBS, DDVL</div>
                        </div>
                      </div>

                    </div>
                  </div>


                  <div class="carousel-wrapper space_bottom desktop">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Wrapper for carousel items -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="<%= asset_path("abhishek.jpg") %>" alt="Dr. Abhishek Omchery">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Abhishek Omchery</div>
                            <div class="doc-qualification">MD (Dermatology & VD)</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("ankita.jpg") %>" alt="Dr. Ankita Sawant">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Ankita Sawant</div>
                            <div class="doc-qualification">MBBS, DDV</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("sonam.jpg") %>" alt="Dr. Sonam Vimadalal">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Sonam Vimadalal</div>
                            <div class="doc-qualification">MBBS, DDVL</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("gautam.jpg") %>" alt="Dr. Gautam Dethe">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Gautam Dethe</div>
                            <div class="doc-qualification">MBBS, DDV, DNB</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("gaurangi.jpg") %>" alt="Dr. Gaurangi Shrawat">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr. Gaurangi Shrawat</div>
                            <div class="doc-qualification">MD (Dermatology & VD)</div>
                          </div>
                        </div>
                        <div class="item">
                          <img src="<%= asset_path("pradnya.jpg") %>" alt="Dr Pradnya Shastri">
                          <div class="carousel-img-details">
                            <div class="doc-name">Dr Pradnya Shastri</div>
                            <div class="doc-qualification">MBBS, DDVL</div>
                          </div>
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left"></span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right"></span>
                      </a>

                    </div>
                  </div>
                </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="row left-align collapsible-section">
                  <div class="col-sm-12">
                      <div>
                        <h5 class="sub-title">What will be in my treatment plan?<span class="more-less fa fa-plus"></span></h5>
                        <div class="hidden-content-wrapper pad">

                          <% case session[:condition]

                            when "Acne" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to help promote skin health and control acne</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                          <% when "Hairfall", "Hairfall or Hair Thinning" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including lotions, serums, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to improve your hair growth, texture, and strength</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Shampoos and / or conditioners, and instructions on when and how to wash your hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy hair</p>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving hair growth, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% when "Pigmentation and Dark Circles", "Pigmentation & Dark Circles" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set vitamin_supplements" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Vitamins & supplements</h4>
                                    <p>Depending on your condition, supplements to help promote skin health and improve appearance</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                          <% when "Dandruff" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including lotions, serums, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Shampoos and / or conditioners, and instructions on when and how to wash your hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy hair</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                          <% when "Eczema, Psoriasis and Rash", "Eczema, Psoriasis & Rash" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set oral_medication" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Oral medication</h4>
                                    <p>If required, oral tablets to treat the underlying condition, and improve your symptoms</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set washing" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Washing advice</h4>
                                    <p>Face washes, shampoos, and instructions on when and how to wash your face and body</p>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diet_lifestyle" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diet & lifestyle advice</h4>
                                    <p>Nutritional advice on foods to eat and avoid, as well as lifestyle habits to promote healthy skin</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                         
                          <% when "Stretch Marks" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set topical_applications" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Topical applications</h4>
                                    <p>Including creams, lotions, moisturisers, and other products</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set procedures" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Procedures</h4>
                                    <p>Procedures for improving skin appearance and health, if they think you will benefit</p>
                                  </div>
                                </div>
                              </div>
                            </div>
     
                          <% when "Skin Growth (Moles, Warts)" then %>
                            <div class="row icon-set-container white_back pad_10">
                              <br>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set diagnosis" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Diagnosis & medical advice</h4>
                                    <p>Diagnosis of your medical condition(s), and potential causes</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set removal_options" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Removal options</h4>
                                    <p>Options and recommendations for how to remove the growth, if required</p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                  <span class="item-icon"><img class="icon-set tests_reports" src="<%= asset_path("trans_120_120.png") %>" alt="Remedico"></span>
                                  <div class="item-content">
                                    <h4>Tests & reports</h4>
                                    <p>Blood and other tests, if necessary for further investigation</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% end %>

                        </div>
                      </div>
                  </div>
              </div>

              <hr class="pad_0 margin_0" />

              <div class="row left-align collapsible-section">
                  <div class="col-sm-12">

                      <div>
                        <h5 class="sub-title">How can I pay?<span class="more-less fa fa-plus"></span></h5>
                        <div class="hidden-content-wrapper">

                          <div class="row text-center margin_b_25 margin_t_15">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("card.png") %>" class="img-responsive" alt="Credit/Debit card" style="display: inline-block; max-height: 35px;"></div>
                              <div class="row payment-option-text">Credit card/ Debit card</div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("netbanking.png") %>" class="img-responsive" alt="netbanking" style="display: inline-block; max-height: 35px;"></div>
                              <div class="row payment-option-text">Net banking</div>
                            </div>
                          </div>

                          <div class="row text-center margin_b_15"></div>

                          <div class="row text-center margin_b_25">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("paytm.png") %>" class="img-responsive" alt="paytm" style="display: inline-block; max-height: 25px;"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("olamoney.jpg") %>" class="img-responsive" alt="ola money" style="display: inline-block; max-height: 25px;"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("freecharge.jpg") %>" class="img-responsive" alt="freecharge" style="display: inline-block; max-height: 25px;"></div>
                            </div>
                          </div>

                          <div class="row text-center margin_b_25">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("mobikwik.png") %>" class="img-responsive" alt="mobikwik" style="display: inline-block; max-height: 25px;"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("payzapp.png") %>" class="img-responsive" alt="payzapp" style="display: inline-block; max-height: 25px;"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("payumoney.png") %>" class="img-responsive" alt="PayU money" style="display: inline-block; max-height: 20px;"></div>
                            </div>
                          </div>

                          <div class="row text-center margin_b_25">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("airtelmoney.png") %>" class="img-responsive" alt="airtel money" style="display: inline-block; max-height: 38px;"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row payment-option-icon"><img src="<%= asset_path("mpesa.png") %>" class="img-responsive" alt="mpesa" style="display: inline-block; max-height: 38px;"></div>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
              </div>

              <hr class="pad_0  margin_0" />
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="background-color: #f7fcfc;">
    <div class="row space_bottom">
      <div class="col-sm-12 text-center space_bottom space_top" style="border-top: 1.5px dotted #17a6b0; border-bottom: 1.5px dotted #17a6b0;">
        <div class="space_bottom space_top">
        <img src="<%= asset_path("satisfaction_icon_blue_light.png") %>" />
        <h5 class="sub-title color_blue">100% satisfaction </h5>
        <p class="p_16" style="padding: 0px 30px;">If you're not completely satisfied with your consultation, we will refund your fee.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-sm-12 text-center space_bottom">
        <!-- <i class="fa fa-shield" style="display: inline-block; vertical-align: middle;" aria-hidden="true"></i>
        <span style="margin-left: 4px; margin-right: 4px;">Secure payment powered by</span>
        <img src="<%= asset_path("paytm.png") %>" class="img-responsive" alt="Paytm" style="display: inline-block; max-height: 25px; margin-top: -10px;"> -->
        <h5 class="sub-title space_bottom">Total payment: Rs. <%= @amount %></h5>
      </div>
      <div class="col-sm-12 sticky-footer">
        <div class="text-center">
            <%= button_tag(name: "type", class: "list_btn_dark hover sticky-footer", :id=> "payBtn") do %>
               PAY FOR YOUR TREATMENT PLAN
            <% end %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-sm-12 space_top space_bottom text-center no-scroll" style="" id="fixed-footer">
      <h5 class="sub-title">Still have questions?</h5>
        <p class="p_16">
          Feel free to contact us at <span><nobr><a href="tel:+918433484696"> &nbsp; <span class="fa fa-whatsapp icon-blue"></span>&nbsp;+91 8433 848 969</a></nobr></span>
        </p>
    </div> 
  </section>

</main>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript">

$(function() {
  var options = {
      "key": "<%= Rails.application.secrets.RAZOR_PAY_KEY_ID %>",
      "amount": "<%= current_consultation.amount*100 %>",
      "name": "Remedico",
      "description": "Treatment plan",
      "image": "<%= asset_path('logo100x100.png') %>",
      "handler": function (response){
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST";
        mapForm.action = "/consult/payment/success";

        var mapInput = document.createElement("input");
        mapInput.type = "hidden";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;

        var mapInput2 = document.createElement("input");
        mapInput2.name = "authenticity_token"
        mapInput2.value = "<%= form_authenticity_token %>"
        mapInput2.type = "hidden"

        var mapInput3 = document.createElement("input");
        mapInput3.name = "pg_type"
        mapInput3.value = "RAZORPAY"
        mapInput3.type = "hidden"

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);
        document.body.appendChild(mapForm);

        mapForm.submit();

      },
      "external": {
        wallets: ['paytm'],
        handler: function(data) {
          // write code on how to handle the external wallet here, based on the param 'data'
          if(data.wallet === "paytm") {
            var mapForm = document.createElement("form");
            mapForm.target = "_self";
            mapForm.method = "POST";
            mapForm.action = "/consult/payment/payment_paytm";
            var mapInput = document.createElement("input");
            mapInput.name = "authenticity_token"
            mapInput.value = "<%= form_authenticity_token %>"
            mapInput.type = "hidden"
            var mapInput2 = document.createElement("input");
            mapInput2.name = "pg_type"
            mapInput2.value = "PAYTM"
            mapInput2.type = "hidden"
        
            mapForm.appendChild(mapInput);
            mapForm.appendChild(mapInput2);
            document.body.appendChild(mapForm);

            mapForm.submit();
          }
        }
      },
      "prefill": {
          "name": "<%= current_user.name %>",
          "contact": "<%= current_user.mobile %>",
          "email": "<%= current_user.email %>"
      },
      "theme": {
          "color": "#17a6b0"
      },
      "modal": {
          "ondismiss": function(){
            ga('send', 'event', { eventCategory: 'consultation', eventAction: 'RazorpayModalDismissed', consultationID: <%= current_consultation.id %>});
          }
      }
  };
  var rzp1 = new Razorpay(options);

  $('.sticky-footer').on('click', '#payBtn', function () {
  // document.getElementById('payBtn').onclick = function(e){
    rzp1.open();
    // e.preventDefault();
    $.ajax({
      type: "POST",
      url: "/consult/payment/initiate_payment",
      success: function (response) {
        return false;
      },
      error: function (response) {
        return false;
      }
    })
  
    ga('send', 'event', { eventCategory: 'consultation', eventAction: 'clickPayButton'});
    mixpanel.track("Button Clicked", {
      "Button Name": "Payment Button",
      "Condition Name": "n/a",
      "Page URL": "payment/index",
    });
    window._fbq.push(['track', 'Payment Button Clicked',{'Page URL':'payment/index'}]);
  });

  $('.sticky-footer').on('click', '#paytmPayBtn', function () {
    $.ajax({
      type: "POST",
      url: "/consult/payment/initiate_payment",
      success: function (response) {
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST";
        mapForm.action = "/consult/payment/payment_paytm";
        var mapInput = document.createElement("input");
        mapInput.name = "authenticity_token"
        mapInput.value = "<%= form_authenticity_token %>"
        mapInput.type = "hidden"
        var mapInput2 = document.createElement("input");
        mapInput2.name = "pg_type"
        mapInput2.value = "PAYTM"
        mapInput2.type = "hidden"

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        document.body.appendChild(mapForm);

        mapForm.submit();

        ga('send', 'event', { eventCategory: 'consultation', eventAction: 'clickPayButton'});
        mixpanel.track("Button Clicked", {
          "Button Name": "Payment Button",
          "Condition Name": "n/a",
          "Page URL": "payment/index",
        });
        window._fbq.push(['track', 'Payment Button Clicked',{'Page URL':'payment/index'}]);
        return false;
      },
      error: function (response) {
        return false;
      }
    })
  });

  mixpanel.track("Page Loaded", {
    "Page Name": "Payments Index Page",
    "Condition Name": 'n/a',
  });
  window._fbq.push(['track', 'Payments Page Load',{'Page URL':'payment/index'}]);

  $(".collapsible-section h5").click(function(e) {

      if ($(this).next().is(":hidden")) {
        $(this).next().slideDown();
        $(e.target).parent().addBack().find(".more-less").removeClass('fa-plus');
        $(e.target).parent().addBack().find(".more-less").addClass('fa-minus');
      } else {
        $(this).next().slideUp();
        $(e.target).parent().addBack().find(".more-less").removeClass('fa-minus');
        $(e.target).parent().addBack().find(".more-less").addClass('fa-plus');
      }
      
    });

});

</script>
<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--(function(){-->
<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--s1.async=true;-->
<!--s1.src='https://embed.tawk.to/59dc7c6cc28eca75e4625231/default';-->
<!--s1.charset='UTF-8';-->
<!--s1.setAttribute('crossorigin','*');-->
<!--s0.parentNode.insertBefore(s1,s0);-->
<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->
