<%= content_for :turn_turbolinks, "data-turbolinks=false" %>
<style type="text/css">
  * {box-sizing: border-box;}
  body {
    background-color: #fff;
    text-align: center;
    color: #3D3D3D;
  }
  .field {
    transform: scale(0.8);
    transition: 0.5s ease all;
    opacity: 0.5;
  }
  .field label {
    display: block;
  }
  .field.active {
    opacity: 1;
    transform: scale(1);
  }
  div .full-vh {
    vertical-align: middle;
  }
  .field:after {
      content: "";
      height: 75vh;
      background-color: red;
  }
  .selfie_btn {
    display: inline-block;
    cursor: pointer;
    background-color: #17b06e;
    color: #fff;
    width: auto;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    max-width: 610px;
    -moz-transition: background-color ease-out 100ms 0ms;
    -webkit-transition: background-color ease-out 100ms 0ms;
    -o-transition: background-color ease-out 100ms 0ms;
    transition: background-color ease-out 100ms 0ms;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
    margin-top: 2%;
    border: 2px solid #17b06e
  }
  input:focus, button:focus {
    outline: none!important;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: #30aeb759;
    border: 2px solid #30aeb7;
    border-radius: 4px;
    cursor: text;
  }
  div.field {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  div .field label {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
  }
  .form-border {
    border-bottom: 3px solid #000000cf;
    border-radius: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    font-size: 32px;
    font-weight: 200;
  }
  #footer {
    height: 35px;
    background-color: #f5f5f5;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .scrollable-field {
    margin-top: 75vh;
  }
  .submit_button {
    width: 100%;
  }
  input#file_upload {
    outline: none;
  }
  #upload.selfie_btn {
    font-weight: 700;
    display: inline-block;
  }
  input[type="file"] {
    display: none;
  }
  #h1_3ea7_0{font-weight: 600;}
  #p_3ea7_0{font-size: 18px; font-weight: 400; line-height: 20px}
  .p_3ea7_1{font-size: 20px; font-weight: 400; line-height: 24px}
  #start_button{
    margin-top: 6%;
    -webkit-box-shadow: 0 3px 12px 0 rgba(128, 128, 128, 1);
    -moz-box-shadow: 0 3px 12px 0 rgba(128, 128, 128, 1);
    box-shadow: 0 3px 12px 0 rgba(128, 128, 128, 1);
  }
  #sub_3ea7_0{margin-top: -11px; margin-bottom: 28px; font-size: 14px;}
  #sub_3ea7_1{margin-top: -11px; margin-bottom: 28px; font-size: 14px;}
  #selfie-photo{ margin-left: 15%; }
  #p_3ea7_2{margin-top: 5px; margin-bottom: 28px; font-size: 16px;}
  #div_3ea7_1{text-align:center;}
  #div_3ea7_3{ background-color: #fafafa;border-top: 1px solid rgba(0, 0, 0, 0.25);border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

  .inverted_selfie_btn {
    border: 2px solid #0F7277;
    background-color: white;
    color: #0F7277;
  }

  /*SquareButtons*/
  .btn-sq-lg {
    width: 100%;
    height: 100%;
    padding: 10%;
  }
  .btn-sq {
    width: 100%;
    height: 130px;
    padding: 10%;
  }
  .btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
  }
  .btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
  }
  .h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:2%;
    border-top:1px solid gray;
  }
  input#mobile, input#email {
    margin-top: 3%;
  }
  .file_upload_confirmation_buttons button {
    width: 100%;
    font-size: initial;
  }
  .file_upload_confirmation_buttons2 button {
    width: 100%;
    font-size: initial;
  }
  .selfie-container-2 {
    display: none;
  }
  .selfie-container-1 {
    margin-bottom: 200px;
  }

  #scroll_element_1 {
    padding-top: 14vh;
    padding-bottom: 50vh;
    background-color: #8ebcbe;
    margin-top: 0;
  }
  #scroll_element_1 img.border-bottom {
    border-bottom: 1px solid #606060;
  }

  #scroll_element_2 {
    margin-bottom: 50px;
  }
  #scroll_element_2 ul {
    margin: 15px 0 20px 20px;
    font-size: 1.6rem;
  }
  #scroll_element_6, #scroll_element_7 {
    margin-bottom: 50vh;
  }
  .selfie_btn-sm {
    padding: 15px 60px;
  }
  .progress {
    margin: 0 auto;
    width: 85%;
  }
  /* The container */
  .skin-type-quiz .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .skin-type-quiz .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .skin-type-quiz .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  .skin-type-quiz .container input:checked ~ .checkmark {
    background-color: #0F7277;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .radio-button-container label {
    font-size: 1.8rem!important;
  }
  .selfie-container-3 {
    display: none;
  }
  .version-2 {
    display: none;
  }
</style>

<div class="selfie_form">
  <div class="wrapper">

    <!--FORM START-->
    
    <%= form_tag({:controller => "selfie_form", :action => "create_image"}, :method => "post", :class => "form", :id => "selfie_form", :multipart => true) do %>
      
      <div class="selfie-container-1">
      
        <div class="full-vh scrollable-field active" id="scroll_element_1">
          <div><img height="22" src="https://remedicohealth.com/images/remedico_white1.png" alt="Remedico - Logo"/ id="tries"></div>

          <div><h1 id="h1_3ea7_0">Free Selfie Checkup</h1></div>

          <div class="margin_15"><p class="p_3ea7_1">Simply submit a selfie, and our dermatologists will give you a free diagnosis.</p></div>

          <div><img class="border-bottom" width="250" src="https://s3-ap-southeast-1.amazonaws.com/remedicohealth/assets/images/taking_selfie.png" alt="" /></div>

          <div><button type="button" class="selfie_btn selfie_btn-sm" id="start_button">START</button></div>

        </div>

        <!--TAKE SELFIE-->

        <div class="field scrollable-field" id="scroll_element_2">
          <div class="container"> 
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <label class="form-label">We will need a clear selfie of your face.</label>
                <ul>
                  <li>The photo should be clear, sharp, and in focus. Use your back camera if possible</li>
                  <li>Your full face should be clearly visible. Remove glasses, scarves and hats <span style="color:red;font-size:20px;">❌</span> <span style="color:#000;font-size:20px;">🕶</span> <span style="color:#000;font-size:20px;">🎩</span></li>
                  <li>Do not apply any filters to the photo <span style="color:#000;font-size:20px;">😊</span></li>
                </ul>
              </div>
            </div>
          </div>
   
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
              <div id="div_3ea7_1"><img src="<%= asset_path('selfie_form_info_graphic.png') %>" alt="Take a selfie using your phone camera, and come back here" id="image_preview" /></div>
            </div>
          </div>

          <div class="col-sm-6 col-sm-offset-3 margin_25 text-center">
            <label for="file_upload" class="selfie_btn selfie_btn-sm" id="upload">UPLOAD</label>
            <input id="file_upload" type="file" name="image" accept="image/*" onchange="saveImage(this);" />
            <div id="error_file_upload" for="file_upload" class="alert text-danger font_h4">Please upload your selfie. Make sure the image is less than 2MB.</div>
          </div>

          <div class="file_upload_confirmation_buttons" style="display: none;">
            <div class="container">
              <div class="row text-center margin_25">
                <!--try again button-->
                <div class="col-sm-4 col-sm-offset-2 col-xs-6">
                  <button type="button" class="selfie_btn inverted_selfie_btn" id="cancel_btn">TRY AGAIN</button>
                </div>
                <!--confirm button -->
                <div class="col-sm-4 col-xs-6">
                  <button type="button" class="selfie_btn" id="confirm_btn">CONFIRM</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div id="progressbar-1" class="progress" style="display: none">
            <div class="progress-bar progress-bar-success myprogress" role="progressbar" style="width:0%">0%</div>
          </div>
        </div>
      </div>
    <% end %>
    <br/>

      <div class="selfie-container-2">

        <!--NAME-->

        <div class="field scrollable-field" id="scroll_element_3">
          <label class="form-label">What is your name?*</label>
          <input type="text" name="fullname" class="form-border" id="fullname"/>
          <div id="error_fullname" for="fullname" class="alert text-danger font_h4">Please enter a valid name.</div>
          <div><button type="button" class="selfie_btn scroll_to_next">Ok</button></div>
        </div>

        <!--MOBILE-->

        <div class="field scrollable-field" id="scroll_element_4">
          <label class="form-label">What is your mobile number?*</label>
          <sub id="sub_3ea7_0">We will send your diagnosis to you via sms.</sub><br>
          <input id="mobile" type="number" name="mobile" class="form-border input-number–noSpinners" />
          <div id="error_mobile" for="mobile" class="alert text-danger font_h4">This mobile number is not valid.</div>
          <div><button type="button" class="selfie_btn scroll_to_next">Ok</button></div>
        </div>

        <!--EMAIL-->

        <div class="field scrollable-field" id="scroll_element_5">
          <label class="form-label">What is your email id?*</label>
          <sub id="sub_3ea7_1">We will send your diagnosis to you via mail as well.</sub><br>
          <input id="email" type="email" name="email" class="form-border inline-email-field" />
          <div id="error_email" for="email" class="alert text-danger font_h4">This email is not valid.</div>
          <div><button type="button" class="selfie_btn scroll_to_next">Ok</button></div>
        </div>

        <!--SUBMIT FORM -->

        <div class="field scrollable-field version-1" id="scroll_element_7">
          <button id="submit_button_version_1" class="selfie_btn submit_button">SUBMIT</button>
        </div>

        <div class="field scrollable-field version-2" id="scroll_element_6">
          <div class="file_upload_confirmation_buttons2">
            <div class="container">
              <div class="row text-center margin_25">
                <div class="margin_15"><p class="p_3ea7_1">Would you like to know about your skin type?</p></div>
                <!--confirm button -->
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                  <button type="button" class="selfie_btn" id="get_skin_type">YES</button>
                </div>
                <!--try again button-->
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 margin_t_15">
                  <button type="button" class="selfie_btn inverted_selfie_btn" id="submit_button">NO</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
          <div id="progressbar-2" class="progress" style="display: none">
            <div class="progress-bar progress-bar-success myprogress" role="progressbar" style="width:0%">0%</div>
          </div>
        </div>
      </div>

      <input type="hidden" id="referrer" name="referrer" value="">
      <input type="hidden" id="utm_campaign" name="utm_campaign" value="<%= params['utm_campaign'] %>">

      <div class="selfie-container-3 version-2">

        <% @quiz["questions"].each_with_index do |question, index| %>
          <div class="field scrollable-field skin-type-quiz" id="skin_type_quiz[<%= index %>]">
            <label class="form-label skin-type-quiz-question"><%= question["question"] %>*</label>
            <div class="margin_t_15">
            <% question["options"].each_with_index do |option, option_index| %>
              <label class="container"><%= option %>
                <input type="radio" name="question[<%= index %>]" id="question[<%= index %>][<%= option_index %>]" value="<%= option %>">
                <span class="checkmark"></span>
              </label>
            <% end %>
            </div>
            <div for="email" class="alert text-danger font_h4 error_radio">This field is mandatory.</div>
            <div><button type="button" class="selfie_btn scroll_to_next">Ok</button></div>
          </div>
        <% end %>

        <!--SUBMIT FORM -->

        <div class="field scrollable-field" id="scroll_element_7">
          <button id="save_skin_type_button" class="selfie_btn submit_button">SUBMIT</button>
        </div>
      </div>
    <!--FORM END-->
  </div>
</div>
<script>

  $(function() {
    var referrer = document.referrer || 'direct';
    document.getElementById('referrer').value = referrer;
    window._fbq.push(['track', 'ViewContent',{'Page Name':'Selfie Checkup', "HTML Referrer": "referrer"}]);
    mixpanel.track("Page Loaded", {
      "Page Name": "Selfie Checkup",
      "HTML Referrer": referrer,
    });
  });
  
  'use strict';
  var activeIndex, customScrollToElement, fields, inputs, scrollToActiveField, scrollToActiveFieldByIndex, setActiveTab, validate_data;
  
  activeIndex = 0;
  fields = $('.scrollable-field');
  inputs = $('.scrollable-field input');
  var upload_input = $('input#file_upload');
  
  setActiveTab = function() {
    var activeField;
    fields.removeClass('active');
    activeField = fields.eq(activeIndex);
    activeField.addClass('active');
    // customScrollToElement(fields.eq(activeIndex));
    var input = activeField.find('input');
    if (input.length > 0) {
      input.focusWithoutScrolling();
    } else {
      setTimeout(function(){
        customScrollToElement($(activeField));
      }, 500);
    }
  };

  $('#start_button').on('click', function(event) {
    activeIndex = 1;
    var activeField = fields.eq(activeIndex);
    activeField.addClass('active');
    setActiveTab();
    event.stopPropagation();
    ga('send', 'event', 'selfie_form', 'Clickstart');
    window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'start'}]);
    mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name': 'start'});
  });

  fields.click(function(event) {
    scrollToActiveField(this);
    event.stopPropagation();
  });
  
  inputs.keydown(function(event) {
    var index, parent_field;
    if (event.keyCode === 13 && this.validity.valid) {
      event.preventDefault();
      parent_field = this.closest('.scrollable-field');
      var input_field = fields.eq(fields.index(parent_field)).find('input');
      if (input_field.length == 1) {
        if (validate_data(input_field)) {
          index = fields.index(parent_field) + 1;
          scrollToActiveField(fields[index]);
          var id = input_field.attr('id');
          if (id) {
            ga('send', 'event', 'selfie_form', 'Click'+id);
            window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':id}]);
            mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':id,});
          }
        }
      } else {
        if (input_field.parent().find("input:checked").length == 1) {
          input_field.closest('.scrollable-field').find('.error_radio').hide();
          index = fields.index(parent_field) + 1;
          scrollToActiveField(fields[index]);
          var id = input_field.closest('.scrollable-field').attr('id')
          if (id) {
            ga('send', 'event', 'selfie_form', 'Click'+id);
            window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':id}]);
            mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':id,});
          }
        } else {
          input_field.closest('.scrollable-field').find('.error_radio').show();
        }
      }
    }
    event.stopPropagation();
  });
  
  $('.scroll_to_next').on('click', function(e) {
    var index, parent_field;
    parent_field = this.closest('.scrollable-field');
    var input_field = fields.eq(fields.index(parent_field)).find('input');
    e.preventDefault();
    if (input_field.length == 1) {
      if (validate_data(input_field)) {
        index = fields.index(parent_field) + 1;
        activeIndex = index;
        setActiveTab();
        scrollToActiveField(fields[index]);
        var id = input_field.attr('id');
        if (id) {
          ga('send', 'event', 'selfie_form', 'Click'+id);
          window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':id}]);
          mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':id,});
        }
      }
    } else {
        if (input_field.parent().find("input:checked").length == 1) {
          input_field.closest('.scrollable-field').find('.error_radio').hide();
          index = fields.index(parent_field) + 1;
          scrollToActiveField(fields[index]);
          var id = input_field.closest('.scrollable-field').attr('id')
          if (id) {
            ga('send', 'event', 'selfie_form', 'Click'+id);
            window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':id}]);
            mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':id,});
          }
        } else {
          input_field.closest('.scrollable-field').find('.error_radio').show();
        }
      }
    e.stopPropagation();
  });
  
  scrollToActiveField = function(field) {
    var index;
    index = fields.index(field);
    if (index !== activeIndex) {
      activeIndex = index;
      var mField = fields.eq(activeIndex);
      // customScrollToElement(mField);
      setActiveTab();
    //   var id = fields.eq(fields.index(mField.prev())).find('input').attr('id');
    //   ga('send', 'event', 'selfie_form', 'Click'+id);
    //   window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':id}]);
    //   mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':id,});
    }
  };
  
  scrollToActiveFieldByIndex = function(index) {
    scrollToActiveField(fields.eq(index));
  };
  
  // validating a field
  validate_data = function(input_field) {
    var value;
    value = input_field.val();
    switch (input_field.attr('id')) {
      case 'fullname':
        if (/^[A-z ']{2,}$/.test(value)) {
          $('#error_fullname').hide();
          return true;
        } else {
          $('#error_fullname').show();
          return false;
        }
        break;
      case 'mobile':
        if (/^[1-9][0-9]{9}$/.test(value)) {
          $('#error_mobile').hide();
          return true;
        } else {
          $('#error_mobile').show();
          return false;
        }
        break;
      case 'email':
        if (/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(value)) {
          $('#error_email').hide();
          // customScrollToElement(fields.eq(-1));
          return true;
        } else {
          $('#error_email').show();
          return false;
        }
        break;
      case 'file_upload':
        if (value !== "") {
          $('#error_file_upload').hide();
          return true;
        } else {
          $('#error_file_upload').show();
          return false;
        }
        break;
      default:
        return true;
    }
  };
  
  // scroll to element
  customScrollToElement = function(id) {
    var winHeight, idHeight = id.height();
    winHeight = $(window).height();
    if (winHeight < idHeight) {
      $('html,body').animate({ scrollTop: id.offset().top }, 'slow');
    } else {
      $('html,body').animate({ scrollTop: (id.offset().top - (winHeight-idHeight)/2) }, 'slow');
    }
  };

  // image preview
  function saveImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#image_preview')
          .attr('src', e.target.result).height(270)
      };
      reader.readAsDataURL(input.files[0]);
      $('#upload').hide();
      $('.file_upload_confirmation_buttons').show();
      customScrollToElement($('.file_upload_confirmation_buttons'));
      var size = input.files[0].size/1000000;
      if (size > 2) {
        $('#error_file_upload').text("The file you've uploaded is " + size + "Mb. Please upload an image < 2MB.");
        $('#error_file_upload').show();
      }
    }
  }

  // on cancel uploaded image button
  $('#cancel_btn').on('click', function(e) {
    $('#image_preview')
      .attr('src', 'https://images.typeform.com/images/LALXa4LfQghT/image/default#.png').height('initial');
    $('.file_upload_confirmation_buttons').hide();
    $('#upload').show();
    customScrollToElement($('#upload'));
    ga('send', 'event', 'selfie_form', 'ClickCancelButton');
    window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'Cancel'}]);
    mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':'Cancel',});
    $('#error_file_upload').hide();
  });

  // on confirm uploaded image button
  $('#confirm_btn').on('click', function(e) {
    var i, parent_field, returned_value;
    returned_value = true;
    returned_value &= validate_data(inputs.eq(0));
    if (!returned_value) {
      parent_field = $('.wrapper form').find('.alert:visible').eq(0).closest('.scrollable-field');
      activeIndex = fields.index(parent_field);
      e.stopPropagation();
      setActiveTab();
    } else {
      $('.file_upload_confirmation_buttons').hide();
      $('#upload').hide();
      fields.removeClass('active');
      var formData = new FormData();
      formData.append('file_upload', $('#file_upload')[0].files[0]);
      ga('send', 'event', 'selfie_form', 'ClickConfirmImageButton');
      window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'ConfirmImage'}]);
      mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':'ConfirmImage'});
      $.ajax({
        url: '/consult/selfie_form/create_image',
        data: formData,
        processData: false,
        contentType: false,
        enctype: "multipart/form-data",
        type: 'POST',
        // progress bar
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function (evt) {
            $('#progressbar-1').show();
            customScrollToElement($('.progress'));
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              percentComplete = parseInt(percentComplete * 100);
              $('#progressbar-1 .myprogress').text(percentComplete + '%');
              $('#progressbar-1 .myprogress').css('width', percentComplete + '%');
            }
          }, false);
          return xhr;
        },
        success: function (response) {
          if(response.value == "success") {
            $('.selfie-container-1').hide();
            $('.selfie-container-2').show();
            activeIndex = 0;
            fields = $('.scrollable-field:visible');
            inputs = $('.scrollable-field input:visible');
            setActiveTab();
          } else {
            var size = $('input#file_upload')[0].files[0].size/1000000;
            if (size > 2) {
              $('#error_file_upload').text("The file you've uploaded is " + size + "Mb");
              $('#error_file_upload').show();
              alert('Selfie image upload failed as the image uploaded is > 2MB limit. Please try again.');
            } else {
              alert('Selfie image upload failed. Please try again.');
            }
            resetProgressBar();
            $('#cancel_btn').click();
            activeIndex = 1;
            var activeField = fields.eq(activeIndex);
            activeField.addClass('active');
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert('Please check your network connection and try again.');
          resetProgressBar();
          $('#cancel_btn').click();
          activeIndex = 1;
          var activeField = fields.eq(activeIndex);
          activeField.addClass('active');
        }
      });
    }
  });

  function resetProgressBar() {
    $('.progress').hide();
    $('.myprogress').text('0%');
    $('.myprogress').css('width', '0%');
  }

  $('#get_skin_type').on('click', function(e) {
    e.stopPropagation();
    var i=0, parent_field, returned_value=true;
    while (i < inputs.length) {
      returned_value &= validate_data(inputs.eq(i));
      i++;
    }
    if (!returned_value) {
      parent_field = $('.wrapper form').find('.alert:visible').eq(0).closest('.scrollable-field');
      activeIndex = fields.index(parent_field);
      e.stopPropagation();
      setActiveTab();
    } else {
      $('.file_upload_confirmation_buttons').hide();
      $('#upload').hide();
      fields.removeClass('active');
      var formData = new FormData();
      formData.append('fullname', $(inputs[0]).val());
      formData.append('mobile', $(inputs[1]).val());
      formData.append('email', $(inputs[2]).val());
      formData.append('referrer', $('#referrer').val());
      formData.append('utm_campaign', $('#utm_campaign').val());
      ga('send', 'event', 'selfie_form', 'ClickSubmitButton');
      window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'Submit'}]);
      mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':'Submit',});
      e.stopPropagation();
      $.ajax({
        url: '/consult/selfie_form/create_patient',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        // progress bar
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function (evt) {
            $('#progressbar-2').show();
            customScrollToElement($('.progress'));
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              percentComplete = parseInt(percentComplete * 100);
              $('#progressbar-2 .myprogress').text(percentComplete + '%');
              $('#progressbar-2 .myprogress').css('width', percentComplete + '%');
            }
          }, false);
          return xhr;
        },
        success: function (response) {
          if(response.value == "success") {
            resetProgressBar();
            $('.selfie-container-2').hide();
            $('.selfie-container-3').show();
            activeIndex = 0;
            fields = $('.scrollable-field:visible');
            inputs = $('.scrollable-field input:visible');
            setActiveTab();
          } else {
            alert("We're unable to store your details. Please try again.");
            activeIndex = 0;
            setActiveTab();
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("We're unable to store your details. Please try again.");
          activeIndex = 0;
          setActiveTab();
        }
      });
    }
  });

  $('#submit_button_version_1').on('click', function(e) {
    e.stopPropagation();
    var i=0, parent_field, returned_value=true;
    while (i < inputs.length) {
      returned_value &= validate_data(inputs.eq(i));
      i++;
    }
    if (!returned_value) {
      parent_field = $('.wrapper form').find('.alert:visible').eq(0).closest('.scrollable-field');
      activeIndex = fields.index(parent_field);
      e.stopPropagation();
      setActiveTab();
    } else {
      $('.file_upload_confirmation_buttons').hide();
      $('#upload').hide();
      fields.removeClass('active');
      var formData = new FormData();
      formData.append('fullname', $(inputs[0]).val());
      formData.append('mobile', $(inputs[1]).val());
      formData.append('email', $(inputs[2]).val());
      formData.append('referrer', $('#referrer').val());
      formData.append('utm_campaign', $('#utm_campaign').val());
      ga('send', 'event', 'selfie_form', 'ClickSubmitButton');
      window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'Submit'}]);
      mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':'Submit',});
      e.stopPropagation();
      $.ajax({
        url: '/consult/selfie_form/create_patient',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (response) {
          if(response.value == "success") {
            window.location.href = "/consult/selfie_form/thank_you";
          } else {
            alert("We're unable to store your details. Please try again.");
            activeIndex = 0;
            setActiveTab();
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("We're unable to store your details. Please try again.");
          activeIndex = 0;
          setActiveTab();
        }
      });
    }
  });


  // on user details submit button
  $('#submit_button').on('click', function(e) {
    e.stopPropagation();
    var i=0, parent_field, returned_value=true;
    while (i < inputs.length) {
      returned_value &= validate_data(inputs.eq(i));
      i++;
    }
    if (!returned_value) {
      parent_field = $('.wrapper form').find('.alert:visible').eq(0).closest('.scrollable-field');
      activeIndex = fields.index(parent_field);
      e.stopPropagation();
      setActiveTab();
    } else {
      $('.file_upload_confirmation_buttons').hide();
      $('#upload').hide();
      fields.removeClass('active');
      var formData = new FormData();
      formData.append('fullname', $(inputs[0]).val());
      formData.append('mobile', $(inputs[1]).val());
      formData.append('email', $(inputs[2]).val());
      formData.append('referrer', $('#referrer').val());
      formData.append('utm_campaign', $('#utm_campaign').val());
      ga('send', 'event', 'selfie_form', 'ClickSubmitButton');
      window._fbq.push(['track', 'Button Clicked', {'Page URL':'/consult/selfie_form', 'Button Name':'Submit'}]);
      mixpanel.track('Button Clicked', { 'Page URL': '/consult/selfie_form', 'Button Name':'Submit',});
      e.stopPropagation();
      $.ajax({
        url: '/consult/selfie_form/create_patient',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (response) {
          if(response.value == "success") {
            window.location.href = "/consult/selfie_form/thank_you";
          } else {
            alert("We're unable to store your details. Please try again.");
            activeIndex = 0;
            setActiveTab();
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("We're unable to store your details. Please try again.");
          activeIndex = 0;
          setActiveTab();
        }
      });
    }
  });

  $('#save_skin_type_button').on('click', function(e) {
    e.stopPropagation();

    var skin_type_questions = $(".skin-type-quiz");
    var skin_type_responses = {};
    for (var i=0; i<skin_type_questions.length; i++) {
      var checked_value = $(skin_type_questions[i]).find("input:checked").val();

      if (!checked_value) {
        parent_field = $(skin_type_questions[i]).closest('.scrollable-field');
        parent_field.find('.error_radio').show();
        activeIndex = fields.index(parent_field);
        e.stopPropagation();
        setActiveTab();
        return;
      }
      skin_type_responses[$(skin_type_questions[i]).find('label.skin-type-quiz-question').html()] = checked_value;
    }
    $.ajax({
      url: '/consult/api/v1/selfie-form/save-my-skin-type',
      data: {responses: skin_type_responses, questions: <%= @quiz["questions"].to_json.html_safe %>},
      type: 'POST',
      success: function (response) {
        if(response.value == "success") {
          window.location.href = "/consult/selfie_form/thank_you";
        } else {
          alert("We're unable to store your details. Please try again.");
          activeIndex = 0;
          setActiveTab();
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert("We're unable to store your details. Please try again.");
        activeIndex = 0;
        setActiveTab();
      }
    });
  });

  $('input').on('touchstart', function() {
    $(this).focus();
  });

  $.fn.focusWithoutScrolling = function() {
    this.focus();
    var input = this;
    setTimeout(function(){
      customScrollToElement($(input.closest('.scrollable-field')));
    }, 500);
    return this; //chainability
  };

</script>
