<section>
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @patient.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @patient.email %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @patient.mobile %>
    </p>

    <p>
      <strong>Pay status:</strong>
      <%= @patient.pay_status %>
    </p>

    <%= link_to 'Edit', edit_patient_path(@patient) %> |
    <%= link_to 'Back', patients_path %>
  </div>
</section>
