<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US">
<!--<![endif]-->
  <head>
    <title>Remedico - consult hair & skin specialists, dermatologists from your phone</title>
    <%= csrf_meta_tag %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "fav.png" %>

    <meta name="description"
          content="Get confidential advice from the best certified dermatologists for acne, rash, psoriasis, eczema, skin discolouration, hair fall, and other skin & hair conditions">

    <meta name="google-site-verification" content="lYRMhoNFg69AYc2DVfJ6rvf30M2Wq-cMJdC9iu7C850"/>

    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
    
</head>

<body class="<%= yield :body_class %>">
    <%= yield %>
</body>
</html>
